#ignore all files in the build directory
bin/
obj/

#ignore Debug directory
Debug/

#ignore unwanted directories
/_UpgradeReport_Files/
/TestResults/
/ipch/
/SSRSSvcTest/
/SPListTest*/
/.vs/
/Backup/
/ADOTest/
/DataGridTest/
/DataGridViewTest/
/DBTest/
/DialogResultTest/
/FormDesigner*/
/GridRowTest/

#ignore zip files
*.zip

*.suo
*.ncb
*.sdf
*.vsmdi

#ignore dll files
*.dll

#
/UpgradeLog*.*
/pingme.txt
